{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="col-lg-6">
  <div class="central-meta">
    <div class="new-postbox">
      <figure>
        <img src="images/resources/admin2.jpg" alt="" />
      </figure>
      <div class="newpst-input">
        <form method="post">
          {% csrf_token %}
          {{textform}}
          <div class="attachments">
            <ul>
              <li>
                {{Mediaform}}
              </li>
              <li>
                <button type="submit">Post</button>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- add post new box -->
    <div class="loadMore">
      {% for post in posts %}
      <div class="central-meta item">
        <div class="user-post">
          <div class="friend-info">
            <figure>
              <img
                src="{% static 'images/resources/friend-avatar10.jpg' %}"
                alt=""
              />
            </figure>
            <div class="friend-name">
              <ins
                ><a href="time-line.html" title=""
                  >{{post.user}}</a
                ></ins
              >
              <span>published: {{post.date}}</span>
            </div>
            <div class="post-meta">
              {% for mediafile in post.mediafiles.all %}
              <img src="{{mediafile.images.url}}" alt="" />
              {% endfor %}
              <form method="post">
                {% csrf_token %}
                <div class="we-video-info">
                  <ul>
                    <li>
                      <span
                        class="views"
                        data-toggle="tooltip"
                        title="views"
                      >
                        <i class="fa fa-eye"></i>
                        <ins>1.2k</ins>
                      </span>
                    </li>
                    <li>
                      <span
                        class="comment"
                        data-toggle="tooltip"
                        title="Comments"
                      >
                        <i class="fa fa-comments-o"></i>
                        <ins>{{post.postcomment.all.count}}</ins>
                      </span>
                    </li>
                      <li>
                        <span
                          class="like"
                          data-toggle="tooltip"
                          title="like"
                        >
                        <button type="submit" name="like" value={{post.id}} class="btn btn-purple"><i class="fas fa-heart pr-2" aria-hidden="true"></i>{{post.like}}like</button>
                          
                        </span>
                      </li>
                      <li>
                        <span
                          class="dislike"
                          data-toggle="tooltip"
                          title="dislike"
                        >
                        <button type="submit" name="dislike" value={{post.id}} class="btn btn-purple"><i class="fas fa-heart pr-2" aria-hidden="true"></i>{{post.dislike}}dislike</button>
                        </span>
                      </li>
                    <li class="social-media">
                      <div class="menu">
                        <div class="btn trigger">
                          <i class="fa fa-share-alt"></i>
                        </div>
                        <div class="rotater">
                          <div class="btn btn-icon">
                            <a href="#" title=""
                              ><i class="fa fa-html5"></i
                            ></a>
                          </div>
                        </div>
                        <div class="rotater">
                          <div class="btn btn-icon">
                            <a href="#" title=""
                              ><i class="fa fa-facebook"></i
                            ></a>
                          </div>
                        </div>
                        <div class="rotater">
                          <div class="btn btn-icon">
                            <a href="#" title=""
                              ><i class="fa fa-google-plus"></i
                            ></a>
                          </div>
                        </div>
                        <div class="rotater">
                          <div class="btn btn-icon">
                            <a href="#" title=""
                              ><i class="fa fa-twitter"></i
                            ></a>
                          </div>
                        </div>
                        <div class="rotater">
                          <div class="btn btn-icon">
                            <a href="#" title=""
                              ><i class="fa fa-css3"></i
                            ></a>
                          </div>
                        </div>
                        <div class="rotater">
                          <div class="btn btn-icon">
                            <a href="#" title=""
                              ><i class="fa fa-instagram"></i
                            ></a>
                          </div>
                        </div>
                        <div class="rotater">
                          <div class="btn btn-icon">
                            <a href="#" title=""
                              ><i class="fa fa-dribbble"></i
                            ></a>
                          </div>
                        </div>
                        <div class="rotater">
                          <div class="btn btn-icon">
                            <a href="#" title=""
                              ><i class="fa fa-pinterest"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </form>
              <div class="description">
                <p>
                  {{post.title}}
                </p>
              </div>
            </div>
          </div>
          {% for comment in post.postcomment.all %}
          
          <div class="coment-area">
            <ul class="we-comet">
              <li>
                <div class="comet-avatar">
                  <img src="images/resources/comet-1.jpg" alt="" />
                </div>
                <div class="we-comment">
                  <div class="coment-head">
                    <h5>
                      <a href="time-line.html" title=""
                        >{{comment.user}}</a>
                    </h5>
                    <span>1 year ago</span>
                    <a class="we-reply" href="#" title="Reply"
                      ><i class="fa fa-reply"></i
                    ></a>
                  </div>
                  <p>
                    {{comment.comment}}
                  </p>
                </div>
                <ul>
                  <li>
                    <div class="comet-avatar">
                      <img
                        src="images/resources/comet-2.jpg"
                        alt=""
                      />
                    </div>
              <li>
          {% endfor %}
                <a href="#" title="" class="showmore underline"
                  >more comments</a
                >
              </li>
              <li class="post-comment">
                <div class="comet-avatar">
                  <img src="images/resources/comet-1.jpg" alt="" />
                </div>
                <div class="post-comt-box">
                  <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value={{post.id}} >
                    {{postcommentform}}
                    <button type="submit" style="color:black">Post</button>
                  </form>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      {% endfor %}
     
    </div>

<!-- centerl meta -->

<!-- sidebar -->
</div>

{% endblock content %}
