{% extends "base.html" %} {% block content %}
<div class="col-lg-6">
  <div class="central-meta">
    <div class="editing-info">
      <h5 class="f-title">
        <i class="ti-info-alt"></i>  Basic Information
      </h5>

      <form method="post">
        {% csrf_token %}
        <div class="form-group half">
          {{form}}
        </div>

        <div class="submit-btns">
          <button type="submit" class="mtr-btn"><span>Create Account</span></button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
